---
import Icon from "./Icon.astro";

const { member } = Astro.props
---

<div class="bg-gray-700 p-4 lg:p-10 rounded-md gap-8 grid lg:grid-cols-2">
    <div>
        <h3 class="text-xl">{member.name}</h3>
        <span class=" text-gray-200 mt-2 mb-8 block">{member.content.title}</span>
        <figure>
            <img class="rounded-md w-full" src={member.content.picture.filename} alt={member.name}>
        </figure>
    </div>
    <div>
        <p class="max-w-[64ch] leading-5">{member.content.description}</p>
        <ul class="mt-4">
            <li>
                <a target="_blank" class="inline-block hover:bg-gray-500 rounded-md transition"
                    href={member.content.linkedin}>
                    <Icon name="linkedin" />
                </a>
            </li>
        </ul>
    </div>

</div>