---
import "../style/app.css";
const title = "DealView, vous créez, nous vendons";
const description = "Vous créez, nous vendons!";
const image = Astro.url.origin + "/share.png";
const { meta } = Astro.props;
---

<html lang="fr">
        <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width" />
                <meta name="generator" content={Astro.generator} />
                <title>
                        {
                                meta && meta.title
                                        ? meta.title + " - DealView"
                                        : title
                        }
                </title>
                <meta name="title" content={title} />
                <meta name="description" content={description} />

                <meta property="og:type" content="website" />
                <meta property="og:url" content={Astro.url.href} />
                <meta property="og:title" content={title} />
                <meta property="og:description" content={description} />
                <meta
                        property="og:image"
                        content={meta && meta.image ? meta.image : image}
                />
                <link
                        href="/favicon.ico"
                        rel="shortcut icon"
                        type="image/x-icon"
                />
                <meta property="twitter:card" content="summary_large_image" />
                <meta property="twitter:url" content={Astro.url.href} />
                <meta property="twitter:title" content={title} />
                <meta property="twitter:description" content={description} />
                <meta
                        property="twitter:image"
                        content={meta && meta.image ? meta.image : image}
                />
                <script
                        defer
                        data-domain="dealview.be"
                        src="https://plausible.io/js/plausible.js"
                ></script>
        </head>

        <body class="flex flex-col min-h-screen font-main md:overflow-auto">
                <slot />
                <script>
                        import "../scripts/app.js";
                </script>
        </body>
</html>
